# ===== Build outputs =====
.pio/
build/
cmake-build-*/
*.o
*.a
*.elf
*.bin
*.hex
*.map
*.lst
*.d
*.log

# ===== VS Code =====
.vscode/
!.vscode/extensions.json
.vscode\c_cpp_properties.json
# ===== IAR EWARM =====
EWARM/Debug/
EWARM/Release/
EWARM/List/
EWARM/Obj/
EWARM/Exe/
*.ewt
*.ewd.bak

# ===== STM32CubeMX =====
.mxproject
*.bak

# ===== OS =====
.DS_Store
Thumbs.db
